<form [formGroup]="form" (ngSubmit)="resetPassword()">
     <div   class ="alert alert-success alert-dismissable fade in"
            *ngIf="formSuccess">
            <a href="#" class="close" 
               data-dismiss="alert" 
               aria-label="close"
               (click)="formSuccess=false">&times;</a>
            <strong> Password Changed Successfully</strong>
       
    </div>
    <div class="form-group">
        <label for="oldPassword">
            Old Password
        </label>
        <input  
            id="oldPassword"
            name="oldPassword"
            formControlName="oldPassword"
            class="form-control"
            type="password"
            >
             <div *ngIf="form.controls.oldPassword.errors && 
                        form.controls.oldPassword.touched">
                        <div *ngIf="form.controls.oldPassword.errors.invalidOldPassword"
                         class ="alert alert-danger">
                             Old Password is Invalid
                        </div>
                <div *ngIf="form.controls.oldPassword.errors.required"
                    class ="alert alert-danger">
                        Old Password is Required
                </div>
            </div>
    </div>
    
    <div class="form-group">
        <label for="newPassword">
                New Password
        </label>
         <input  
            id="newPassword"
            name="newPassword"
            formControlName="newPassword"
            class="form-control"
            type="password">
            <div *ngIf="form.controls.newPassword.errors && 
                        form.controls.newPassword.touched">
                <div *ngIf="form.controls.newPassword.errors.required"
                    class ="alert alert-danger">
                        New Password is Required
                </div>
                 <div *ngIf="form.controls.newPassword.errors.minimumLengthValidate
                 && !form.controls.newPassword.errors.required"
                    class ="alert alert-danger">
                       New Password must be minimum of length {{form.controls.newPassword.errors.minLength}}
                </div>
            </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword">
            Confirm Password
        </label>
        <input  
            id="confirmPassword"
            name="confirmPassword"
            formControlName="confirmPassword"
            class="form-control"
            type="password"
            >
             <div *ngIf="(form.controls.confirmPassword.errors
                            ||form.controls.newPassword.errors) && 
                        (form.controls.newPassword.touched || 
                        form.controls.confirmPassword.touched)">
             <div *ngIf="form.controls.confirmPassword.errors.required"
                    class ="alert alert-danger">
                             Confirm Password is Required
                </div>
            <div *ngIf="form.controls.confirmPassword.errors.passwordMatch 
                && !form.controls.confirmPassword.errors.required"
                        class ="alert alert-danger">
                            Password does not match.
                </div>
            </div>
    </div>
            <button class="btn btn-primary" type="submit"
            [disabled]="!form.valid">
                Change Password
            </button>
</form>